# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
.venv/
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Data
/data/outputs/
/data/.cache/
/data/.last_run.json
jira_token.json
/logs/

# Others
.DS_Store
